<a href="https://colab.research.google.com/github/Kbcity1/checkpoint/blob/master/Data_pre_processingCheckpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

instructions
1. Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
2. What is the data type of the 'client_0_bills' variable ?
3. Display the general information of the dataset and try to answer the following questions :
  How many rows and columns do we have in this dataset ?
  How many categorical features are present in the dataset ?
  How much memory space does the dataset consume ?
4. Inspect the dataset for potential missing values.
5. Select your strategy to handle missing values, and tell us why you had made that choice.
6. Run a descriptive analysis on numeric features (columns).
7. Select the bills records for the client with an id ='train_Client_0', using 2 methods.
8. Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
9. Delete the 'counter_statue' feature from the Dataframe

In [10]:
import pandas as pd

# Load a CSV file
df = pd.read_csv('/content/STEG_BILLING_HISTORY.csv')

# Display the first few rows of the DataFrame
client_0_bills = df.head(10)
print(client_0_bills)

<ipython-input-10-18cbeefac607>:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/STEG_BILLING_HISTORY.csv')

        client_id invoice_date  tarif_type  counter_number counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0              0
1  train_Client_0   2013-03-29          11       1335667.0              0
2  train_Client_0   2015-03-23          11       1335667.0              0
3  train_Client_0   2015-07-13          11       1335667.0              0
4  train_Client_0   2016-11-17          11       1335667.0              0
5  train_Client_0   2017-07-17          11       1335667.0              0
6  train_Client_0   2018-12-07          11       1335667.0              0
7  train_Client_0   2019-03-19          11       1335667.0              0
8  train_Client_0   2011-07-22          11       1335667.0              0
9  train_Client_0   2011-11-22          11       1335667.0              0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                   186                     0                     0
9                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC
3      14747      14849              4         ELEC
4      15066      15638             12         ELEC
5      15638      15952              8         ELEC
6      15952      16493             12         ELEC
7      16493      17078              8         ELEC
8       7770       9156              4         ELEC
9       9156      10238              4         ELEC

In [11]:
#What is the data type of the 'client_0_bills' variable ?
type(client_0_bills)

pandas.core.frame.DataFrame

In [13]:
#Display the general information of the dataset and try to answer the following questions
general_info = df.describe(include='all')
print(general_info)

                  client_id invoice_date    tarif_type  counter_number  \
count               4476749      4476749  4.476749e+06    4.476701e+06
unique               135493         8275           NaN             NaN
top     train_Client_116878   2019-03-09           NaN             NaN
freq                    439         4127           NaN             NaN
mean                    NaN          NaN  2.012804e+01    1.230595e+11
std                     NaN          NaN  1.347256e+01    1.657276e+12
min                     NaN          NaN  8.000000e+00    0.000000e+00
25%                     NaN          NaN  1.100000e+01    1.211080e+05
50%                     NaN          NaN  1.100000e+01    4.945610e+05
75%                     NaN          NaN  4.000000e+01    1.115161e+06
max                     NaN          NaN  4.500000e+01    2.798115e+13

        counter_statue  counter_code  reading_remarque  counter_coefficient  \
count        4476749.0  4.476749e+06      4.472218e+06         4.476749e+06
unique            16.0           NaN               NaN                  NaN
top                0.0           NaN               NaN                  NaN
freq         4346960.0           NaN               NaN                  NaN
mean               NaN  1.724884e+02      7.321713e+00         1.003040e+00
std                NaN  1.338871e+02      1.571859e+00         3.083466e-01
min                NaN  0.000000e+00      5.000000e+00         0.000000e+00
25%                NaN  5.000000e+00      6.000000e+00         1.000000e+00
50%                NaN  2.030000e+02      8.000000e+00         1.000000e+00
75%                NaN  2.070000e+02      9.000000e+00         1.000000e+00
max                NaN  6.000000e+02      4.130000e+02         5.000000e+01

        consommation_level_1  consommation_level_2  consommation_level_3  \
count           4.476749e+06          4.476749e+06          4.476749e+06
unique                   NaN                   NaN                   NaN
top                      NaN                   NaN                   NaN
freq                     NaN                   NaN                   NaN
mean            4.109795e+02          1.093225e+02          2.030620e+01
std             7.573080e+02          1.220123e+03          1.574239e+02
min             0.000000e+00          0.000000e+00          0.000000e+00
25%             7.900000e+01          0.000000e+00          0.000000e+00
50%             2.740000e+02          0.000000e+00          0.000000e+00
75%             6.000000e+02          0.000000e+00          0.000000e+00
max             9.999100e+05          9.990730e+05          6.449200e+04

        consommation_level_4     old_index     new_index  months_number  \
count           4.476749e+06  4.476749e+06  4.476749e+06   4.476749e+06
unique                   NaN           NaN           NaN            NaN
top                      NaN           NaN           NaN            NaN
freq                     NaN           NaN           NaN            NaN
mean            5.292588e+01  1.776700e+04  1.834970e+04   4.483095e+01
std             8.754725e+02  4.036693e+04  4.095321e+04   3.128335e+03
min             0.000000e+00  0.000000e+00  0.000000e+00   0.000000e+00
25%             0.000000e+00  1.791000e+03  2.056000e+03   4.000000e+00
50%             0.000000e+00  7.690000e+03  8.192000e+03   4.000000e+00
75%             0.000000e+00  2.166000e+04  2.234300e+04   4.000000e+00
max             5.479460e+05  2.800280e+06  2.870972e+06   6.366240e+05

       counter_type
count       4476749
unique            2
top            ELEC
freq        3079406
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

In [14]:
#How many rows and columns do we have in this dataset ?
num_rows, num_columns = df.shape

# Display the number of rows and columns
print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 4476749
Number of columns: 16

In [15]:
# Select columns that are categorical (dtype 'object' or 'category')
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

# Get the number of categorical columns
num_categorical = len(categorical_columns)

# Output the result
print(f"Number of categorical features: {num_categorical}")
print(f"Categorical features: {categorical_columns.tolist()}")

Number of categorical features: 4
Categorical features: ['client_id', 'invoice_date', 'counter_statue', 'counter_type']

In [16]:
# Calculate the memory usage of the dataframe in bytes
memory_usage = df.memory_usage(deep=True).sum()

# Convert memory usage to megabytes (optional)
memory_usage_mb = memory_usage / (1024 ** 2)

# Output the memory usage
print(f"Memory usage: {memory_usage_mb:.2f} MB")

Memory usage: 1413.78 MB

In [17]:
# Check for missing values in each column
missing_values = df.isnull().sum()

# Output the columns with their corresponding count of missing values
print(missing_values)

client_id                  0
invoice_date               0
tarif_type                 0
counter_number            48
counter_statue             0
counter_code               0
reading_remarque        4531
counter_coefficient        0
consommation_level_1       0
consommation_level_2       0
consommation_level_3       0
consommation_level_4       0
old_index                  0
new_index                  0
months_number              0
counter_type               0
dtype: int64

I'm using Removing Missing Values strategy because the dataset is large, and the proportion of missing values is small, The rows or columns with missing data are not important for analysis

In [19]:
# Drop rows with missing values
df_cleaned = df.dropna()

# Drop columns with missing values
df_cleaned = df.dropna(axis=1)

# Output the cleaned DataFrame
print(df_cleaned)

                  client_id invoice_date  tarif_type counter_statue  \
0            train_Client_0   2014-03-24          11              0
1            train_Client_0   2013-03-29          11              0
2            train_Client_0   2015-03-23          11              0
3            train_Client_0   2015-07-13          11              0
4            train_Client_0   2016-11-17          11              0
...                     ...          ...         ...            ...
4476744  train_Client_99998   2005-08-19          10              0
4476745  train_Client_99998   2005-12-19          10              0
4476746  train_Client_99999   1996-09-25          11              0
4476747  train_Client_99999   1996-05-28          11              0
4476748  train_Client_99999   1996-01-25          11              0

         counter_code  counter_coefficient  consommation_level_1  \
0                 203                    1                    82
1                 203                    1                  1200
2                 203                    1                   123
3                 207                    1                   102
4                 207                    1                   572
...               ...                  ...                   ...
4476744           202                    1                   400
4476745           202                    1                   200
4476746           203                    1                   259
4476747           203                    1                   603
4476748           203                    1                   516

         consommation_level_2  consommation_level_3  consommation_level_4  \
0                           0                     0                     0
1                         184                     0                     0
2                           0                     0                     0
3                           0                     0                     0
4                           0                     0                     0
...                       ...                   ...                   ...
4476744                   135                     0                     0
4476745                     6                     0                     0
4476746                     0                     0                     0
4476747                     0                     0                     0
4476748                     0                     0                     0

         old_index  new_index  months_number counter_type
0            14302      14384              4         ELEC
1            12294      13678              4         ELEC
2            14624      14747              4         ELEC
3            14747      14849              4         ELEC
4            15066      15638             12         ELEC
...            ...        ...            ...          ...
4476744       3197       3732              8         ELEC
4476745       3732       3938              4         ELEC
4476746      13884      14143              4         ELEC
4476747      13281      13884              4         ELEC
4476748      12765      13281              4         ELEC

[4476749 rows x 14 columns]

In [20]:
#Method 1: Using Boolean Indexing
client_id = 'train_Client_0'
client_records = df[df['client_id'] == client_id]
print(client_records)

         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

In [21]:
#Method 2: Using query Method
client_records_query = df.query("client_id == 'train_Client_0'")
print(client_records_query)

         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

In [22]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit the LabelEncoder to the 'counter_type' column and transform it
df['counter_type_numeric'] = label_encoder.fit_transform(df['counter_type'])

# Output the first few rows to verify the transformation
print(df[['counter_type', 'counter_type_numeric']].head())

  counter_type  counter_type_numeric
0         ELEC                     0
1         ELEC                     0
2         ELEC                     0
3         ELEC                     0
4         ELEC                     0

In [23]:
#Delete the 'counter_statue' feature from the Dataframe
df = df.drop('counter_statue', axis=1)
print(df.head())

        client_id invoice_date  tarif_type  counter_number  counter_code  \
0  train_Client_0   2014-03-24          11       1335667.0           203
1  train_Client_0   2013-03-29          11       1335667.0           203
2  train_Client_0   2015-03-23          11       1335667.0           203
3  train_Client_0   2015-07-13          11       1335667.0           207
4  train_Client_0   2016-11-17          11       1335667.0           207

   reading_remarque  counter_coefficient  consommation_level_1  \
0               8.0                    1                    82
1               6.0                    1                  1200
2               8.0                    1                   123
3               8.0                    1                   102
4               9.0                    1                   572

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   old_index  new_index  months_number counter_type  counter_type_numeric
0      14302      14384              4         ELEC                     0
1      12294      13678              4         ELEC                     0
2      14624      14747              4         ELEC                     0
3      14747      14849              4         ELEC                     0
4      15066      15638             12         ELEC                     0