<a href="https://colab.research.google.com/github/Kbcity1/checkpoint/blob/master/DataFrameFiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instructions

Use the iloc method to select the first 3 rows of the dataframe.

Use the loc method to select all rows where the Department is "Marketing".

Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.

Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".

In [2]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)
print(employee_df)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

In [3]:
import pandas as pd
firstThreeData = employee_df.iloc[:3]
print(firstThreeData)

   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [4]:
import pandas as pd
Maekerting_dept = employee_df.loc[employee_df['Department'] == 'Marketing']
print(Maekerting_dept)

   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [7]:
import pandas as pd
AgeGender_firstfour = employee_df.iloc[0:4, 2:4]
print(AgeGender_firstfour)

   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [12]:
import pandas as pd
SalaryExperience_Male = employee_df.loc[(employee_df['Gender'] == 'Male') |(employee_df['Experience'] == 'Experience')]
print(SalaryExperience_Male)

   Name Department  Age Gender  Salary  Experience
0  John         IT   30   Male   50000           3
2   Bob      Sales   25   Male   45000           2
4   Tom    Finance   45   Male   70000          10